*{
    margin: 0;
    padding: 0;
}

.caixa{
    width: 400px;
    height: 400px;
    background-color: rgb(55, 62, 128);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redondo{
    width: 100px;
    height: 100px;
    background-color: rgb(135, 133, 201);
    border-radius: 70%;
    
}