
@import 'menu.css';

.conteudo{
    width: 100%;
}

.rodape{
    width: 100%;
    text-align: center;
    background: rgb(84, 119, 60);
    color: white;
}

.img-mobile {
 width: 100%;
}


@media screen and (min-width: 768px) {
    .header{
        height: 100px;
        background-color: rgb(35, 54, 22);
    }
    .conteudo-home{
        display: flex;
        padding: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .header{
        height: 150px;
        background-color: rgb(17, 32, 6);
    }
}
